In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv('Assign2tree1.csv')

In [3]:
print(dataset)

    id    age  income  gender marital_status buys
0    1    <21    High    Male         Single   No
1    2    <21    High    Male        Married   No
2    3  21-35    High    Male         Single  Yes
3    4    >35  Medium    Male         Single  Yes
4    5    >35     Low  Female         Single  Yes
5    6    >35     Low  Female        Married   No
6    7  21-35     Low  Female        Married  Yes
7    8    <21  Medium    Male         Single   No
8    9    <21     Low  Female        Married  Yes
9   10    >35  Medium  Female         Single  Yes
10  11    <21  Medium  Female        Married  Yes
11  12  21-35  Medium    Male        Married  Yes
12  13  21-35    High  Female         Single  Yes
13  14    >35  Medium    Male        Married   No

In [4]:
x = dataset.iloc[:,:-1]
print(x)

    id    age  income  gender marital_status
0    1    <21    High    Male         Single
1    2    <21    High    Male        Married
2    3  21-35    High    Male         Single
3    4    >35  Medium    Male         Single
4    5    >35     Low  Female         Single
5    6    >35     Low  Female        Married
6    7  21-35     Low  Female        Married
7    8    <21  Medium    Male         Single
8    9    <21     Low  Female        Married
9   10    >35  Medium  Female         Single
10  11    <21  Medium  Female        Married
11  12  21-35  Medium    Male        Married
12  13  21-35    High  Female         Single
13  14    >35  Medium    Male        Married

In [5]:
y = dataset.iloc[:,5]
print(y)

0      No
1      No
2     Yes
3     Yes
4     Yes
5      No
6     Yes
7      No
8     Yes
9     Yes
10    Yes
11    Yes
12    Yes
13     No
Name: buys, dtype: object

In [7]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
x = x.apply(le.fit_transform)
print(x)

    id  age  income  gender  marital_status
0    0    1       0       1               1
1    1    1       0       1               0
2    2    0       0       1               1
3    3    2       2       1               1
4    4    2       1       0               1
5    5    2       1       0               0
6    6    0       1       0               0
7    7    1       2       1               1
8    8    1       1       0               0
9    9    2       2       0               1
10  10    1       2       0               0
11  11    0       2       1               0
12  12    0       0       0               1
13  13    2       2       1               0

In [8]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()

In [12]:
x = x.iloc[:, 1:5]

In [14]:
print(x)

    age  income  gender  marital_status
0     1       0       1               1
1     1       0       1               0
2     0       0       1               1
3     2       2       1               1
4     2       1       0               1
5     2       1       0               0
6     0       1       0               0
7     1       2       1               1
8     1       1       0               0
9     2       2       0               1
10    1       2       0               0
11    0       2       1               0
12    0       0       0               1
13    2       2       1               0

In [15]:
model.fit(x, y)

DecisionTreeClassifier()

In [19]:
x_in = np.array([1,1,0,0])
y_pred = model.predict([x_in])
print(y_pred)

['Yes']

C:\Users\91959\anaconda3\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

In [20]:
from sklearn import tree

In [21]:
text_representation = tree.export_text(model)
print(text_representation)

|--- feature_0 <= 0.50
|   |--- class: Yes
|--- feature_0 >  0.50
|   |--- feature_2 <= 0.50
|   |   |--- feature_1 <= 1.50
|   |   |   |--- feature_0 <= 1.50
|   |   |   |   |--- class: Yes
|   |   |   |--- feature_0 >  1.50
|   |   |   |   |--- feature_3 <= 0.50
|   |   |   |   |   |--- class: No
|   |   |   |   |--- feature_3 >  0.50
|   |   |   |   |   |--- class: Yes
|   |   |--- feature_1 >  1.50
|   |   |   |--- class: Yes
|   |--- feature_2 >  0.50
|   |   |--- feature_0 <= 1.50
|   |   |   |--- class: No
|   |   |--- feature_0 >  1.50
|   |   |   |--- feature_3 <= 0.50
|   |   |   |   |--- class: No
|   |   |   |--- feature_3 >  0.50
|   |   |   |   |--- class: Yes